turing-kube-tpi2-node01.internal.sakura.ro.yaml
turing-kube-tpi2-node02.internal.sakura.ro.yaml
turing-kube-tpi2-node03.internal.sakura.ro.yaml
turing-kube-tpi2-node04.internal.sakura.ro.yaml
talosconfig
